/node_modules
/public/hot
/public/storage
/public/app
/public/js/admin.js
/public/js/admin.js.map
/public/js/manifest.js
/public/css/app.css
/public/mix-manifest.json
/public/js/manifest.js.map
/public/js/vendor.js
/public/js/vendor.js.map
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
.favorites.json
.env.save
take
