body,
html {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.centered {
  text-align: center;
}
.lefted {
  text-align: left;
}
.righted {
  text-align: right;
}
.bold {
  font-weight: 800;
}
.carousel-control {
  display: none;
}
.prod_slider_content:hover .carousel-control {
  display: block;
}
h1 {
  font-size: 24px;
}
/* Autocomplete */
.dropdown-menu {
  width: 97%;
  border-radius: 10px;
}
@media only screen and (max-width: 780px) {
  .dropdown-menu {
    width: 73%;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 411px) {
  .dropdown-menu {
    width: 60%;
    border-radius: 10px;
  }
}
/* End Autocomplete */
.top-line {
  background-color: #f1f1f1;
  color: #000;
  font-weight: 700;
  height: 35px;
}
.top-line .telephone {
  margin-top: 4px;
  text-align: left;
  font-size: 16px;
  color: #808080;
}
.top-line .telephone .code {
  font-size: 16px;
}
.top-line .telephone .first {
  padding-right: 20px;
}
.top-line .authotisation {
  margin-top: 6px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}
.top-line .authotisation a {
  color: #000;
}
.top-line .authotisation .acount {
  padding-right: 45px;
}
.header {
  background: #000;
}
.header .logo {
  text-align: center;
}
.header .logotype {
  margin-right: 0;
}
.header .slogan {
  margin: -6px 0px 0px -1px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #cacaca;
}
.header .navbar_logo {
  width: 80%;
  margin-top: 15px;
}
.header .stylish-input-group .input-group-addon {
  background: white !important;
}
.header .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
.header .stylish-input-group button {
  border: 0;
  background: transparent;
}
.header .searching {
  text-align: center;
}
.header .searching form {
  margin: 25px 0 0 0;
}
.header .searching form input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  padding: 0 0px 0px 15px;
  border: 1px solid #6c6c6c;
}
.header .searching i {
  margin-left: -55px;
  font-size: 21px;
}
.header .heart {
  width: 30px;
  margin: 27px 0 0 35px;
}
.header .btn {
  display: inline;
  padding: 0;
}
.header .dropdown .modal .modal-body .row {
  padding-bottom: 15px;
}
.header .dropdown .modal .modal-body .modal_title {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 0;
}
.header .dropdown .modal .modal-body .item_title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.header .dropdown .modal .modal-body p {
  color: #444;
  line-height: 20px;
  font-size: 12px;
}
.header .dropdown .modal .modal-body .modal_price {
  color: #df1e30;
  font-size: 20px;
  margin: 0;
  margin-top: -4px;
}
.header .dropdown .modal .modal-body .item_sum {
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
.header .dropdown .modal .modal-body .item_sum span {
  font-size: 15px;
}
.header .dropdown .modal .modal-footer .btn {
  padding: 10px 15px;
}
.header .dropdown .modal img {
  width: 80%;
}
.header .cart {
  width: 30px;
  margin: 27px 0 0 0;
}
.header .badge {
  background-color: #818181;
  border-radius: 100%;
  color: white;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 5px;
  margin: -15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/* MENU */
.megamenu {
  padding: 15px 0 15px 0;
  background: #000;
}
.megamenu .first_column img,
.megamenu .second_column img,
.megamenu .third_column img,
.megamenu .fifth_column img,
.megamenu .fourth_column img,
.megamenu .sixth_column img {
  width: 200%;
  max-width: 290px;
}
.megamenu .menu .logo_mobiled {
  display: none;
}
.megamenu .menu .menu_brands .brands .menu_brand_logo {
  max-width: 100%;
  padding-right: 10%;
  padding-top: 15px;
}
.megamenu .menu .menu-mobile {
  color: #df1e30;
}
.megamenu .mobile_cart {
  display: none;
}
.megamenu .container {
  max-width: 1280px;
}
.menu-container {
  width: 100%;
  margin: 0 auto;
  background: transparent;
}
.menu-mobile {
  display: none;
  padding: 20px;
  color: #df1e30;
}
.menu-mobile img {
  width: 70%;
}
.menu-mobile:after {
  content: "\f32a";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}
.menu > ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style: none;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  background: transparent;
  padding: 0;
  margin: 0;
  transition: all 0.1s ease-in-out;
}
.menu > ul > li:hover {
  border-bottom: 2px solid #df1e30;
  transition: all 0.05s ease-in-out;
  margin-top: -2px;
}
.menu > ul > li a {
  padding: 5px 20px 5px 20px;
  display: block;
}
.menu_tab {
  color: #cacaca;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
.menu_tab:hover {
  color: #fff;
}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f1f1f1;
  padding: 0 0 20px 0;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  margin-top: 2px;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 1px solid #6c6c6c;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:before {
  background: black;
  height: 15px;
  width: 100%;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 12%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 0 25px;
  width: 100%;
  display: block;
}
.menu .first_column {
  margin-left: 10%;
}
.menu .sixth_column {
  float: right;
  margin-right: 18%;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 18px 0 18px 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: .8em;
}
.menu > ul > li > ul > li > ul > li :hover {
  color: #df1e30;
  transition: all 0.1s ease-in-out;
}
.menu > ul > li > ul > li > ul > li p {
  margin: 0 20px 10px 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #00000026;
  color: #000;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
/* Submenu Mobile */
.submenu {
  display: none;
}
/* UTP */
.utp {
  background-color: #f1f1f1;
  border-top: 1px solid #6c6c6c;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 8px 0 8px 0;
}
.utp .checked,
.utp .delivery,
.utp .return {
  border-right: 1px solid #c6c6c6;
}
.utp .utp_items .checked,
.utp .utp_items .delivery,
.utp .utp_items .return,
.utp .utp_items .ruller,
.utp .utp_items .discount {
  display: inline-flex;
  padding: 5px 0 5px 0;
}
.utp .utp_items .checked .utp_image,
.utp .utp_items .delivery .utp_image,
.utp .utp_items .return .utp_image,
.utp .utp_items .ruller .utp_image,
.utp .utp_items .discount .utp_image,
.utp .utp_items .checked .utp_text,
.utp .utp_items .delivery .utp_text,
.utp .utp_items .return .utp_text,
.utp .utp_items .ruller .utp_text,
.utp .utp_items .discount .utp_text {
  margin-right: 0;
}
.utp .utp_items img {
  width: 35px;
  float: left;
  margin-top: 4px;
}
.utp .utp_items p {
  line-height: 20px;
  padding: 0 25px 0 25px;
}
.utp .utp_items_mobile {
  display: none;
}
/* Slider */
.carousel-item {
  height: 670px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  position: absolute;
  top: 20%;
  right: 15%;
  bottom: 25%;
  left: 13%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.carousel-caption h2 {
  font-size: 35px;
}
.carousel-caption h3 {
  font-size: 26px;
  font-weight: 100;
}
.carousel-caption p {
  font-size: 18px;
  margin-bottom: 40px;
}
.carousel-caption .more_info {
  font-size: 21px;
  background: #df1e30;
  border: 1px solid #df1e30;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: ease-in-out 0.2s;
}
.carousel-caption .more_info:hover {
  background: #fff;
  color: #df1e30;
  border: 1px solid #fff;
}
/* Breadcrumb */
.breadcrumbs {
  margin: 0;
  border-top: 1px solid #6c6c6c;
  background: linear-gradient(#d7d7d7, #fff);
  height: 50px;
}
.breadcrumbs .breadcrumb {
  background-color: transparent;
}
.breadcrumbs .breadcrumb .breadcrumb-item a {
  color: #6c6c6c;
}
/* Wrapper */
.wrapper .titles_top {
  border-bottom: 2px solid #6c6c6c;
  height: 80px;
}
.wrapper .titles_top .btn {
  color: #000;
  background: #FFF;
  border: 1px solid #e7eaed;
  border-radius: 0;
}
.wrapper .titles_top .bootstrap-select:not(.input-group-btn),
.wrapper .titles_top .bootstrap-select[class*="col-"] {
  display: flex;
}
.wrapper .titles_top .active {
  margin-bottom: 0;
}
.wrapper .filters {
  text-align: right;
}
.wrapper .filter_wrapper {
  margin-top: 25px;
  margin-bottom: 50px;
}
.wrapper .filter_wrapper .search_word {
  margin-bottom: 25px;
}
.wrapper .filter_wrapper .search_word h4 {
  font-weight: 600;
}
.wrapper .filter_wrapper .search_word h4 .words {
  font-weight: normal;
}
.wrapper .filter_wrapper .search_word h4 .close_btn {
  border: 1px solid #000;
  border-radius: 0;
  padding: 5px 7px;
  margin-left: 10px;
  background: #fff;
}
.wrapper .filter_wrapper .show_more_top {
  text-align: center;
}
.wrapper .filter_wrapper .show_more_top button {
  background: #fff;
  border: none;
  color: #444;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.wrapper .filter_wrapper .show_more_top button .fas {
  font-size: 10px;
  transition: all 0.2s;
}
.wrapper .filter_wrapper .show_more_top button:hover {
  color: #df1e30;
}
.wrapper .filter_wrapper .show_more_top button:hover .fas {
  -webkit-transform: rotate(180deg);
  /* to support Safari and Android browser */
  -ms-transform: rotate(180deg);
  /* to support IE 9 */
  transform: rotate(180deg);
}
.wrapper .filter_wrapper .filter_title h3 {
  display: none;
  margin: 15px 0 30px 0;
}
.wrapper .filter_wrapper .filter_title h3 a {
  padding: 15px;
  border: 1px solid #e2e2e2;
}
.wrapper .filter_wrapper .filter_title h3 a i {
  margin-left: 20%;
}
.wrapper .filter_wrapper .filter_title .collapse:not(.show) {
  display: block;
}
.wrapper .filter_wrapper .col-md-1,
.wrapper .filter_wrapper .col-md-2 {
  padding-right: 2px;
  padding-left: 2px;
}
.wrapper .filter_wrapper .btn {
  color: #000;
  background: #FFF;
  border: 1px solid #e7eaed;
  border-radius: 0;
}
.wrapper .filter_wrapper .selected {
  margin-bottom: 0;
}
.wrapper .filter_wrapper .dropdown-toggle {
  padding: 2px;
}
.wrapper .filter_wrapper .dropdown-menu {
  width: auto;
  border-radius: 0;
}
.wrapper .filter_wrapper .bootstrap-select:not(.input-group-btn),
.wrapper .filter_wrapper .bootstrap-select[class*="col-"] {
  display: flex;
}
.wrapper .filter_wrapper .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #aeb2c2;
  font-weight: 200;
}
.wrapper .form-control {
  border: 1px solid #808080;
  border-radius: 0;
}
.wrapper .col-lg-1,
.wrapper .col-lg-2,
.wrapper .col-lg-3 {
  padding-right: 5px;
  padding-left: 5px;
}
.wrapper .category_items {
  margin: 50px 0 50px 0;
}
.wrapper .category_items .the_items_card {
  position: relative;
}
.wrapper .category_items .the_items_card .labels {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12px;
  box-shadow: 0 0 6px #00000029;
  line-height: 16px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
  z-index: 1000;
  text-transform: uppercase;
  padding: 10px;
  background: #ffffff7a;
}
.wrapper .category_items .the_items_card .quick_view {
  width: 83%;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 60%;
  z-index: 1000;
  transition: all .3s ease 0s;
}
.wrapper .category_items .the_items_card .quick_view a {
  color: #df1e30;
  border: 1px solid #df1e30;
  padding: 5px;
  border-radius: 5px;
}
.wrapper .category_items .the_items_card:hover .quick_view {
  opacity: 1;
  top: 30%;
}
.wrapper .category_items .modal-content {
  padding: 10px 25px 25px 25px;
}
.wrapper .category_items .modal-content .modal-header {
  padding: 10px 0;
}
.wrapper .category_items .modal-content .modal-body .more_details {
  margin-top: 15px;
}
.wrapper .category_items .modal-content .modal-body .more_details a {
  text-decoration: underline;
}
.wrapper .category_items .modal-content .modal-body .more_details a:hover {
  color: #df1e30;
}
.wrapper .category_items .modal-content .modal-body .item_img_modal .labels {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  box-shadow: 0 0 6px #00000029;
  line-height: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
  z-index: 1000;
  text-transform: uppercase;
  padding: 10px;
  background: #ffffff7a;
}
.wrapper .category_items .modal-content .variations h5 {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}
.wrapper .category_items .modal-content .variations .btn-group {
  padding-top: 5px;
  display: block;
}
.wrapper .category_items .modal-content .variations .btn-group .btn {
  margin-right: 3px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #c6c6c6;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 100;
  padding: 5px 10px;
}
.wrapper .category_items .modal-content .variations .btn-group .btn-primary:not(:disabled):not(.disabled):active,
.wrapper .category_items .modal-content .variations .btn-group .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #fff;
  color: #000;
  font-weight: 100;
  border: 1px solid #000;
}
.wrapper .category_items .modal-content .variations .btn-group input {
  display: none;
}
.wrapper .category_items .show_more_bottom {
  text-align: center;
}
.wrapper .category_items .show_more_bottom button {
  background: #fff;
  border: none;
  color: #444;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.wrapper .category_items .show_more_bottom button .fas {
  font-size: 10px;
  transition: all 0.2s;
}
.wrapper .category_items .show_more_bottom button:hover {
  color: #df1e30;
}
.wrapper .category_items .show_more_bottom button:hover .fas {
  -webkit-transform: rotate(180deg);
  /* to support Safari and Android browser */
  -ms-transform: rotate(180deg);
  /* to support IE 9 */
  transform: rotate(180deg);
}
.wrapper .paginations {
  margin-bottom: 75px;
}
/* Category Items Fix */
.categories .category_items .the_items_card {
  margin-bottom: 30px;
}
/* Iems Card */
.item_card {
  margin-top: 25px;
  margin-bottom: 25px;
}
.item_card .size_table_link {
  margin-bottom: 5px;
  font-size: 14px;
  display: none;
}
.item_card .mobile_image_slider {
  display: none;
}
.item_card h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
}
.item_card h3 {
  font-size: 28px;
  color: #b3b3b3;
  margin: 10px 0 30px 0;
}
.item_card h3 .currency {
  font-size: 22px;
}
.item_card h3 .red_price {
  color: #df1e30;
}
.item_card p .code {
  margin-left: 10px;
}
.item_card .item_card_description .tablecell a {
  text-decoration: underline;
}
.item_card .item_logo {
  width: 130px;
}
.item_card .variations {
  padding: 0;
}
.item_card .variations .btn-group {
  padding-top: 5px;
  display: block;
}
.item_card .variations .btn-group .btn {
  margin-right: 3px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #c6c6c6;
  color: #6c6c6c;
  font-size: 18px;
  padding: 5px 10px;
}
.item_card .variations .btn-group .btn-primary:not(:disabled):not(.disabled):active,
.item_card .variations .btn-group .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #fff;
  color: #000;
  font-weight: 100;
  border: 1px solid #000;
}
.item_card .variations .btn-group input {
  display: none;
}
.item_card .by_it {
  margin-bottom: 25px;
  /* Plus-Minus */
  /* Plus-Minus End */
}
.item_card .by_it .input-group {
  width: 50%;
}
.item_card .by_it .by_it_form,
.item_card .by_it .add_to_cart,
.item_card .by_it .one_click {
  padding-left: 0;
}
.item_card .by_it .add_to_cart a {
  border: 1px solid #df1e30;
  width: 100%;
  color: #fff;
  padding: 15px 25px;
  text-align: center;
  background: #df1e30;
  transition: ease-in-out 0.2s;
}
.item_card .by_it .add_to_cart a i {
  margin-right: 5px;
}
.item_card .by_it .add_to_cart a:hover {
  background: #fff;
  color: #df1e30;
  border: 1px solid #df1e30;
}
.item_card .by_it .one_click {
  margin-top: 15px;
}
.item_card .by_it .one_click a {
  border: 1px solid #000;
  width: 100%;
  padding: 15px 30px;
  text-align: center;
  transition: ease-in-out 0.2s;
}
.item_card .by_it .one_click a:hover {
  border: 1px solid #df1e30;
  background: #df1e30;
  color: #fff;
}
.item_card .by_it .spinner input {
  text-align: right;
}
.item_card .by_it .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}
.item_card .by_it .input-group-btn-vertical > .btn {
  display: flex;
  float: none;
  padding: 0 4px;
  width: 20px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.item_card .by_it .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 0;
}
.item_card .by_it .input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 0;
  padding-left: 6px;
}
.item_card .by_it .input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
  padding: 5px 5px 5px 2px;
}
.item_card .by_it .form-control {
  width: 73%;
  border-radius: 0;
  height: 50px;
}
.item_card .like_it {
  margin-top: 15px;
}
.item_card .like_it a {
  text-decoration: none;
}
.item_card .like_it .col-md-12 {
  padding-left: 0;
}
.item_card .mx-sm-3 {
  margin-left: 0;
}
.item_card .item_images li {
  list-style: none;
  text-align: center;
  margin: 0 10px 3px 10px;
  padding: 10px 0 10px 0;
  border: 1px solid #f1f1f1;
  transition: ease-in-out 0.2s;
}
.item_card .item_images li:hover {
  border: 1px solid #df1e30;
}
.item_card .item_images .small_img {
  width: 65%;
}
.item_card .item_image .big_img {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}
.item_card .btn-square {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
}
.item_card .btn-square .btn-lg {
  width: 50px;
  height: 50px;
  padding: 13px 13px;
  font-size: 18px;
  line-height: 1.33;
}
.item_card .description_title {
  margin-bottom: 10px;
}
.item_card .description_title h4 {
  margin: 25px 0 15px 0;
  font-size: 18px;
  text-transform: uppercase;
}
.item_card .description_text {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #c6c6c6;
}
.item_card .description_text p {
  font-size: 18px;
  padding-right: 60px;
}
.item_card .description_text .size_table h5 {
  font-size: 18px;
  margin: 0 0 15px 15px;
  text-transform: uppercase;
}
.item_card .description_text .size_table .size_table_title .table_head {
  font-size: 14px;
}
/* Cart */
.cart,
.selected {
  margin-bottom: 75px;
}
.cart .cart_description .head_table,
.selected .cart_description .head_table {
  background-color: #f3f3f3;
}
.cart .cart_description img,
.selected .cart_description img {
  width: 100px;
}
.cart .cart_description .description_item a:hover,
.selected .cart_description .description_item a:hover {
  color: #df1e30;
}
.cart .cart_description .description_item span,
.selected .cart_description .description_item span {
  float: right;
}
.cart .item_in_cart,
.selected .item_in_cart {
  width: 10%;
  /* Plus-Minus */
  /* Plus-Minus End */
}
.cart .item_in_cart .spinner .form-control,
.selected .item_in_cart .spinner .form-control {
  width: 73%;
  border-radius: 0;
  height: 50px;
}
.cart .item_in_cart .spinner input,
.selected .item_in_cart .spinner input {
  text-align: right;
}
.cart .item_in_cart .input-group-btn-vertical,
.selected .item_in_cart .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 20px;
  vertical-align: middle;
  display: table-cell;
}
.cart .item_in_cart .input-group-btn-vertical > .btn,
.selected .item_in_cart .input-group-btn-vertical > .btn {
  display: flex;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 0 5px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.cart .item_in_cart .input-group-btn-vertical > .btn:first-child,
.selected .item_in_cart .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 0;
}
.cart .item_in_cart .input-group-btn-vertical > .btn:last-child,
.selected .item_in_cart .input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 0;
  padding-left: 7px;
}
.cart .item_in_cart .input-group-btn-vertical i,
.selected .item_in_cart .input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
  padding: 5px 5px 5px 2px;
}
.cart .cart_title h1,
.selected .cart_title h1 {
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 25px;
  border-bottom: 1px solid #6c6c6c;
}
.cart .cart_title .col-lg-12,
.selected .cart_title .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.cart .cart_description,
.selected .cart_description {
  text-align: center;
}
.cart .cart_description h4,
.selected .cart_description h4 {
  margin: 0;
  font-size: 16px;
}
.cart .cart_description_mobile,
.selected .cart_description_mobile {
  display: none;
}
.cart .lets_checkout,
.selected .lets_checkout {
  text-align: right;
  margin-bottom: 25px;
  font-weight: 800;
}
.cart .lets_checkout p,
.selected .lets_checkout p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
}
.cart .lets_checkout p .items_sum_numb,
.selected .lets_checkout p .items_sum_numb {
  font-size: 26px;
  margin-left: 10px;
}
.cart .lets_checkout a,
.selected .lets_checkout a {
  padding: 15px 20px 15px 20px;
  border: 1px solid #df1e30;
  color: #fff;
  background: #df1e30;
}
.cart .lets_checkout a:hover,
.selected .lets_checkout a:hover {
  color: #df1e30;
  background: #fff;
}
/* Checkout */
.checkout_form,
.checkout_data {
  margin-bottom: 30px;
}
.checkout_form .form-group .form-check,
.checkout_data .form-group .form-check {
  margin-bottom: 25px;
}
.checkout_form .form-group .form-check .form-check-label,
.checkout_data .form-group .form-check .form-check-label {
  font-size: 12px;
}
.checkout_form .checkout_data .delivery_data,
.checkout_data .checkout_data .delivery_data {
  color: #444;
  font-size: 18px;
}
.checkout_form .checkout_data .delivery_comments,
.checkout_data .checkout_data .delivery_comments {
  margin-top: 25px;
}
.checkout_form .checkout_data .confirm,
.checkout_data .checkout_data .confirm {
  margin-top: 25px;
  margin-bottom: 50px;
}
.checkout_form .checkout_data .confirm a,
.checkout_data .checkout_data .confirm a {
  color: #fff;
  border: 1px solid #df1e30;
  background-color: #df1e30;
  text-decoration: none;
  padding: 15px 25px;
}
.checkout_form .checkout_data .confirm a:hover,
.checkout_data .checkout_data .confirm a:hover {
  color: #df1e30;
  background-color: #fff;
}
.checkout_form .checkout_data a,
.checkout_data .checkout_data a {
  color: #000;
  text-decoration: underline;
}
.checkout_form .checkout_data a:hover,
.checkout_data .checkout_data a:hover {
  color: #df1e30;
}
.checkout_form .form-control,
.checkout_data .form-control {
  font-size: 14px;
}
.checkout_form .checkout_titles,
.checkout_data .checkout_titles {
  border-bottom: 1px solid #6c6c6c;
  margin-bottom: 25px;
}
.checkout_form .checkout_titles h1,
.checkout_data .checkout_titles h1 {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 5px;
}
.checkout_form .checkout_login,
.checkout_data .checkout_login,
.checkout_form .checkout_user_info,
.checkout_data .checkout_user_info {
  margin-bottom: 50px;
}
.checkout_form .checkout_login .vrt_divider,
.checkout_data .checkout_login .vrt_divider,
.checkout_form .checkout_user_info .vrt_divider,
.checkout_data .checkout_user_info .vrt_divider {
  width: 1px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 60px;
  border-left: 1px solid #e5e5e5;
}
.checkout_form .checkout_login .login_info,
.checkout_data .checkout_login .login_info,
.checkout_form .checkout_user_info .login_info,
.checkout_data .checkout_user_info .login_info {
  font-size: 16px;
  margin-bottom: 15px;
}
.checkout_form .checkout_login .next_button,
.checkout_data .checkout_login .next_button,
.checkout_form .checkout_user_info .next_button,
.checkout_data .checkout_user_info .next_button {
  margin-top: 35px;
  text-align: right;
}
.checkout_form .checkout_login .next_button a,
.checkout_data .checkout_login .next_button a,
.checkout_form .checkout_user_info .next_button a,
.checkout_data .checkout_user_info .next_button a {
  color: #fff;
  background-color: #df1e30;
  padding: 15px 25px;
  margin-right: 10px;
  border: 1px solid #df1e30;
}
.checkout_form .checkout_login .next_button a:hover,
.checkout_data .checkout_login .next_button a:hover,
.checkout_form .checkout_user_info .next_button a:hover,
.checkout_data .checkout_user_info .next_button a:hover {
  color: #df1e30;
  background-color: #fff;
}
.checkout_form .checkout_login .validate,
.checkout_data .checkout_login .validate,
.checkout_form .checkout_user_info .validate,
.checkout_data .checkout_user_info .validate {
  color: #df1e30;
  font-weight: 800;
}
.checkout_form .checkout_login .login_button .log_button,
.checkout_data .checkout_login .login_button .log_button,
.checkout_form .checkout_user_info .login_button .log_button,
.checkout_data .checkout_user_info .login_button .log_button {
  margin: 0 0 20px 0;
}
.checkout_form .checkout_login .login_button a,
.checkout_data .checkout_login .login_button a,
.checkout_form .checkout_user_info .login_button a,
.checkout_data .checkout_user_info .login_button a {
  text-transform: uppercase;
  color: #fff;
  background: #df1e30;
  border: 1px solid #df1e30;
  padding: 15px 20px 15px 20px;
  margin-bottom: 10px;
}
.checkout_form .checkout_login .login_button a i,
.checkout_data .checkout_login .login_button a i,
.checkout_form .checkout_user_info .login_button a i,
.checkout_data .checkout_user_info .login_button a i {
  margin-left: 10px;
}
.checkout_form .checkout_login .login_button a:hover,
.checkout_data .checkout_login .login_button a:hover,
.checkout_form .checkout_user_info .login_button a:hover,
.checkout_data .checkout_user_info .login_button a:hover {
  color: #df1e30;
  background: #fff;
}
.checkout_form .checkout_login .login_button .authorization,
.checkout_data .checkout_login .login_button .authorization,
.checkout_form .checkout_user_info .login_button .authorization,
.checkout_data .checkout_user_info .login_button .authorization {
  color: #6c6c6c;
}
.checkout_form .checkout_login .login_button .authorization a,
.checkout_data .checkout_login .login_button .authorization a,
.checkout_form .checkout_user_info .login_button .authorization a,
.checkout_data .checkout_user_info .login_button .authorization a {
  text-transform: none;
  background: #fff;
  color: #6c6c6c;
  border: none;
  padding: 0;
  font-size: 16px;
}
.checkout_form .checkout_login .login_button .authorization a:hover,
.checkout_data .checkout_login .login_button .authorization a:hover,
.checkout_form .checkout_user_info .login_button .authorization a:hover,
.checkout_data .checkout_user_info .login_button .authorization a:hover {
  text-decoration: underline;
  color: #000;
}
.checkout_form .checkout_login .user_comments .form-control,
.checkout_data .checkout_login .user_comments .form-control,
.checkout_form .checkout_user_info .user_comments .form-control,
.checkout_data .checkout_user_info .user_comments .form-control {
  height: 250px;
}
.checkout_form .checkout_items .promo,
.checkout_data .checkout_items .promo {
  margin-top: 25px;
  padding-left: 30%;
}
.checkout_form .checkout_items .promo .card,
.checkout_data .checkout_items .promo .card {
  border: none;
}
.checkout_form .checkout_items .promo .card .form-control,
.checkout_data .checkout_items .promo .card .form-control {
  height: auto;
}
.checkout_form .checkout_items .card-body,
.checkout_data .checkout_items .card-body {
  padding: 26px 0 0 0;
}
.checkout_form .checkout_items .card-body .scroll_items,
.checkout_data .checkout_items .card-body .scroll_items {
  height: 420px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.checkout_form .checkout_items .collapsed_card a,
.checkout_data .checkout_items .collapsed_card a {
  font-weight: 800;
  text-decoration: underline;
}
.checkout_form .checkout_items .collapsed_card a:hover,
.checkout_data .checkout_items .collapsed_card a:hover {
  color: #df1e30;
}
.checkout_form .checkout_items img,
.checkout_data .checkout_items img {
  width: 120px;
  height: 130px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
}
.checkout_form .checkout_items ul,
.checkout_data .checkout_items ul {
  list-style: none;
  font-size: 14px;
  padding-left: 10px;
}
.checkout_form .checkout_items ul li a,
.checkout_data .checkout_items ul li a,
.checkout_form .checkout_items ul li span,
.checkout_data .checkout_items ul li span {
  font-weight: 800;
}
.checkout_form .checkout_items .summ,
.checkout_data .checkout_items .summ {
  border-top: 1px solid #c6c6c6;
  margin-top: 25px;
}
.checkout_form .checkout_items .summ p,
.checkout_data .checkout_items .summ p {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 800;
}
.checkout_form .checkout_items .summ p span,
.checkout_data .checkout_items .summ p span {
  color: #000;
  font-size: 26px;
  margin-left: 10px;
}
/* Новый вид карточки товара */
.the_items_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Carousel */
.carousel .item,
.wrapper .item,
.new_items_mobile .item,
.hits_items_mobile .item {
  height: 100%;
  padding: 5px;
  text-align: center;
  overflow: hidden;
}
.carousel .item i,
.wrapper .item i,
.new_items_mobile .item i,
.hits_items_mobile .item i {
  padding-right: 5px;
}
.carousel .img-box,
.wrapper .img-box,
.new_items_mobile .img-box,
.hits_items_mobile .img-box {
  width: 100%;
  position: relative;
}
.carousel img,
.wrapper img,
.new_items_mobile img,
.hits_items_mobile img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 10px;
  transition: ease-in-out 0.2s;
  height: auto;
  width: 100%;
}
.carousel h4,
.wrapper h4,
.new_items_mobile h4,
.hits_items_mobile h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 100;
}
.carousel .btn,
.wrapper .btn,
.new_items_mobile .btn,
.hits_items_mobile .btn {
  color: #fff;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #df1e30;
  border: 1px solid #df1e30;
  padding: 7px 20px;
  margin-right: 5px;
  line-height: 16px;
}
.carousel .btn .button_cart,
.wrapper .btn .button_cart,
.new_items_mobile .btn .button_cart,
.hits_items_mobile .btn .button_cart {
  width: 25px;
}
.carousel .btn i,
.wrapper .btn i,
.new_items_mobile .btn i,
.hits_items_mobile .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.carousel .hrt,
.wrapper .hrt,
.new_items_mobile .hrt,
.hits_items_mobile .hrt,
.carousel .eml,
.wrapper .eml,
.new_items_mobile .eml,
.hits_items_mobile .eml {
  color: #000;
  transition: ease-in-out 0.2s;
}
.carousel .hrt:hover,
.wrapper .hrt:hover,
.new_items_mobile .hrt:hover,
.hits_items_mobile .hrt:hover,
.carousel .eml:hover,
.wrapper .eml:hover,
.new_items_mobile .eml:hover,
.hits_items_mobile .eml:hover {
  color: #df1e30;
}
.carousel .btn:hover,
.wrapper .btn:hover,
.new_items_mobile .btn:hover,
.hits_items_mobile .btn:hover,
.carousel .btn:focus,
.wrapper .btn:focus,
.new_items_mobile .btn:focus,
.hits_items_mobile .btn:focus {
  color: #df1e30;
  background: #fff;
  border-color: #df1e30;
  box-shadow: none;
}
.carousel .the_items_card,
.wrapper .the_items_card,
.new_items_mobile .the_items_card,
.hits_items_mobile .the_items_card {
  transition: ease-in-out 0.2s;
}
.carousel .the_items_card:hover,
.wrapper .the_items_card:hover,
.new_items_mobile .the_items_card:hover,
.hits_items_mobile .the_items_card:hover {
  box-shadow: 0 0 0 1px #c6c6c6;
}
.carousel .thumb-name,
.wrapper .thumb-name,
.new_items_mobile .thumb-name,
.hits_items_mobile .thumb-name {
  padding: 10px 5px;
  text-align: left;
}
.carousel .thumb-content,
.wrapper .thumb-content,
.new_items_mobile .thumb-content,
.hits_items_mobile .thumb-content {
  text-align: left;
  padding: 5%;
}
.carousel .carousel-control,
.wrapper .carousel-control,
.new_items_mobile .carousel-control,
.hits_items_mobile .carousel-control {
  height: 100px;
  width: 0;
  background: none;
  margin: auto 0;
}
.carousel .carousel-control i,
.wrapper .carousel-control i,
.new_items_mobile .carousel-control i,
.hits_items_mobile .carousel-control i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -16px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}
.carousel .item-price,
.wrapper .item-price,
.new_items_mobile .item-price,
.hits_items_mobile .item-price {
  font-size: 16px;
  padding: 2px 0 10px 0;
  font-weight: 400;
}
.carousel .item-price strike,
.wrapper .item-price strike,
.new_items_mobile .item-price strike,
.hits_items_mobile .item-price strike {
  color: #999;
  margin-right: 5px;
}
.carousel .item-price span,
.wrapper .item-price span,
.new_items_mobile .item-price span,
.hits_items_mobile .item-price span {
  color: #df1e30;
  font-size: 110%;
}
.carousel .carousel-control.left i,
.wrapper .carousel-control.left i,
.new_items_mobile .carousel-control.left i,
.hits_items_mobile .carousel-control.left i {
  margin-left: -15px;
  transition: ease-in-out 0.2s;
}
.carousel .carousel-control.right i,
.wrapper .carousel-control.right i,
.new_items_mobile .carousel-control.right i,
.hits_items_mobile .carousel-control.right i {
  margin-right: -3px;
  transition: ease-in-out 0.2s;
}
.carousel .carousel-indicators,
.wrapper .carousel-indicators,
.new_items_mobile .carousel-indicators,
.hits_items_mobile .carousel-indicators {
  bottom: 20px;
}
.new_items_mobile,
.hits_items_mobile {
  display: none;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid #df1e3047;
}
.carousel-indicators li {
  background: #fff;
}
.carousel-indicators li.active {
  background: #df1e30;
}
.star-rating li {
  padding: 0;
}
/* Banner */
.banner {
  background-color: #f1f1f1;
  color: #fff;
  padding: 5px 5px 5px 5px;
  margin: 50px 0 25px 0;
  width: auto;
  height: auto;
  background-size: cover;
}
.banner h2 {
  padding-top: 150px;
  margin-bottom: 0;
  line-height: 35px;
}
.banner .btn {
  color: #fff;
  background: #df1e30;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 20px;
  margin-top: 25px;
  margin-bottom: 45px;
  line-height: 16px;
}
.banner .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.banner .btn:hover {
  color: #df1e30;
  background: #fff;
  border-color: #df1e30;
  box-shadow: none;
}
.banner .add_to_cart {
  border: 1px solid #df1e30;
  width: 150px;
  margin: 10px 0 10px 0;
}
.banner .add_to_cart img {
  width: 25px;
}
.banner .left_banner {
  background: url(../images/banners/1-compressor.jpg);
  background-size: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-position: unset;
  background-repeat: no-repeat;
}
.banner .right_banner {
  background: url(../images/banners/2-compressor.jpg);
  background-size: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-position: top;
  background-repeat: no-repeat;
}
.banner_mobile {
  display: none;
}
/* Sertificates & Video */
.media_content {
  background-color: #f1f1f1;
  margin-top: 50px;
}
.media_content .voucher_and_video {
  padding: 10px;
}
.media_content .voucher_and_video .voucher {
  border-right: 1px solid #c6c6c6;
}
.media_content img {
  width: 100%;
}
.media_content iframe {
  padding: 4px 25px 8px 0px;
}
/* Brands */
.brands {
  padding: 0 0 50px 0;
  margin: 15px 0 15px 0;
}
.brands .brands_images {
  text-align: center;
}
.brands .brands_images img {
  width: 150px;
  transition: ease-in-out 0.2s;
}
.brands .brands_images img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.brands .brands_images_mobile {
  display: none;
}
/* Contacts */
.our_contacts {
  padding-bottom: 25px;
}
.our_contacts h2 {
  font-size: 18px;
}
.our_contacts .our_contacts_data ul li {
  font-size: 16px;
  list-style-type: none;
}
.our_contacts .our_contacts_data ul li .fas {
  color: #6c6c6c;
}
.our_contacts .our_contacts_form .ps {
  font-size: 12px;
  color: #6c6c6c;
}
.our_contacts .our_contacts_form input {
  border-radius: 10px;
  margin-top: 10px;
  height: 47px;
}
.our_contacts .our_contacts_form textarea {
  border-radius: 10px;
  margin-top: 10px;
}
.our_contacts .our_contacts_form .submit_btn {
  margin-top: 15px;
  text-align: right;
}
.our_contacts .our_contacts_form .submit_btn .btn {
  border-radius: 10px;
}
/* Socials & Subscribe */
.social {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f1f1f1;
}
.social .sociality {
  border-right: 1px solid #c6c6c6;
}
.social .social_text h2 {
  text-transform: uppercase;
}
.social .social_icons img {
  width: 83px;
  margin: 15px 9px 15px 9px;
  transition: ease-in-out 0.2s;
}
.social .social_icons img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.social .searching {
  text-align: center;
}
.social .searching h2 {
  font-size: 32px;
}
.social .searching p {
  font-size: 24px;
  margin-top: -15px;
}
.social .searching .form-inline {
  display: inherit;
}
.social .searching form {
  margin: 30px 30px 0 30px;
}
.social .searching form input {
  width: 100%;
  height: 47px;
  border-radius: 10px;
  font-size: 15px;
  padding: 0 0 0 15px;
  border: 1px solid #6c6c6c;
  float: left;
}
.social .searching form a {
  margin-top: -35px;
  font-weight: 800;
  color: #000;
  float: right;
  width: 30%;
}
/*Footer */
.desktop_footer {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  min-height: 280px;
  height: auto;
  padding: 10px 0 10px 0;
}
.desktop_footer .col-lg-2 {
  padding-right: 0;
  padding-left: 0;
}
.desktop_footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
.desktop_footer .footer_menu {
  margin-top: 60px;
}
.desktop_footer .footer_menu ul {
  margin-left: -30px;
}
.desktop_footer .footer_menu li {
  list-style-type: none;
  font-weight: 300;
}
.desktop_footer .footer_menu li a {
  color: #fff;
  transition: ease-in-out 0.2s;
}
.desktop_footer .footer_menu li a:hover {
  color: #df1e30;
}
.desktop_footer .footer_menu img {
  width: 20px;
  margin: 0 4px 0 0;
}
.desktop_footer .footer_logo {
  margin-top: 65px;
  text-align: right;
}
.desktop_footer .footer_logo .fl_link {
  color: #fff;
  font-size: 13px;
}
.desktop_footer .footer_logo a {
  color: #fff;
  transition: ease-in-out 0.2s;
}
.desktop_footer .footer_logo a:hover {
  color: #df1e30;
}
.desktop_footer .footer_logo .copyright {
  font-weight: 700;
  margin-top: 26px;
}
.mobile_footer {
  display: none;
}
/* Mobile style's */
@media only screen and (max-width: 1199px) {
  .carousel .thumb-content {
    padding: 10px 5px 15px 5px;
  }
  .header .slogan {
    font-size: 11px;
  }
  .utp {
    font-size: 12px;
  }
  .utp .return {
    border-right: none;
  }
  .social .searching form input {
    font-size: 10px;
  }
  .social .searching form a {
    width: 40%;
  }
}
@media only screen and (max-width: 997px) {
  .utp .utp_items {
    display: none;
  }
  .utp .utp_items_mobile {
    display: block;
  }
  .utp .utp_items_mobile .carousel-item {
    height: auto;
  }
  .utp .utp_items_mobile .carousel-item .utp_text {
    width: 300px;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .header .navbar_logo {
    width: 100%;
  }
  .header .slogan {
    font-size: 8px;
  }
  .header .heart {
    margin: 27px 0 0 15px;
  }
  .media_content img {
    border-right: none;
    padding-right: 0;
  }
  .utp .delivery {
    border-right: none;
  }
  .utp .return {
    border-right: 1px solid #c6c6c6;
  }
  .carousel h4 {
    font-size: 14px;
  }
  .carousel .item-price {
    font-size: 11px;
  }
  .breadcrumbs .breadcrumb {
    font-size: 12px;
  }
  .checkout_form .checkout_titles h1 {
    font-size: 18px;
  }
  .checkout_form .checkout_titles .checkout_open {
    display: none;
  }
  .social .sociality {
    border-right: none;
  }
  .wrapper .category_items .thumb-wrapper .thumb-content .btn {
    padding: 7px 10px;
  }
  .wrapper .category_items .thumb-wrapper .thumb-content .eml {
    display: none;
  }
  .desktop_footer {
    display: none;
  }
  .mobile_footer {
    display: inherit;
    background-color: #000;
  }
  .mobile_footer .open_it {
    background-color: #fff;
  }
  .mobile_footer .container {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .mobile_footer .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .mobile_footer .card {
    background-color: transparent;
    border: none;
  }
  .mobile_footer .card .card-header {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 5px;
  }
  .mobile_footer .card h3 {
    font-size: 15px;
  }
  .mobile_footer .card a {
    color: #000;
  }
  .mobile_footer .card a:hover {
    color: #df1e30;
  }
  .mobile_footer .card ul {
    padding-left: 15px;
  }
  .mobile_footer .card ul li {
    list-style-type: none;
  }
  .mobile_footer .card ul li img {
    width: 20px;
    margin: 0 4px 0 0;
  }
  .mobile_footer .footer_logo {
    color: #fff;
    background-color: #000;
    padding: 25px 0 25px 0;
  }
  .mobile_footer .footer_logo .slogan {
    color: #fff;
    padding-bottom: 15px;
    font-size: 14px;
  }
  .mobile_footer .footer_logo .copyright {
    font-weight: 800;
    font-size: 14px;
  }
  .mobile_footer .footer_logo .author {
    font-size: 14px;
  }
  .mobile_footer .footer_logo a {
    color: #fff;
  }
}
@media only screen and (max-width: 780px) {
  .mobile_logotype {
    width: 50%;
  }
  .megamenu .container {
    padding-right: 0;
    padding-left: 0;
  }
  .megamenu .container .menu .mobile_block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .megamenu .container .menu .logo_mobiled {
    display: block;
    margin-left: 20px;
  }
  .megamenu .container .menu .logo_mobiled .navbar_logo {
    width: 80%;
  }
  .megamenu .container .menu .menu_brands .brands .menu_brand_logo {
    display: none;
  }
  .submenu {
    display: block;
    height: 36px;
    background: #f1f1f1;
  }
  .submenu .container {
    height: 100%;
  }
  .submenu .container .row {
    height: 100%;
  }
  .submenu .phones {
    font-size: 12px;
    font-weight: 400;
    height: 100%;
  }
  .submenu .phones ul {
    list-style: none;
    padding-left: 15px;
  }
  .submenu .heart img {
    width: 100%;
    max-width: 25px;
  }
  .submenu .carte img {
    width: 100%;
    max-width: 25px;
  }
  .submenu .search img {
    width: 100%;
    max-width: 25px;
  }
  .searchcollapse {
    z-index: 1000;
    width: 100%;
  }
  .searchcollapse .card {
    border-radius: 0;
  }
  .searchcollapse .card-body {
    padding: 5px;
  }
  .searchcollapse .form-control {
    width: 70%;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid #000;
  }
  .menu > ul > li > ul:before {
    background: transparent;
    height: 0;
  }
  .menu_img {
    display: none;
  }
  .breadcrumbs {
    margin: 0;
  }
  .breadcrumbs .col-lg-12 {
    padding: 0;
  }
  .wrapper .filter_wrapper .col-md-2,
  .wrapper .filter_wrapper .col-md-1 {
    padding: 0 5px 0 5px;
  }
  .wrapper .filter_wrapper .col-md-2 .form-control,
  .wrapper .filter_wrapper .col-md-1 .form-control {
    border: none;
  }
  .top-line,
  header {
    display: none;
  }
  .menu-container {
    width: 100%;
  }
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li:hover {
    border-bottom: none;
    margin-top: 0;
  }
  .menu > ul > li a {
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
    top: 0;
    background: #fff;
    padding: 0 0 20px 0px;
  }
  .menu .first_column,
  .menu .second_column,
  .menu .third_column,
  .menu .fourth_column,
  .menu .fifth_column,
  .menu .sixth_column {
    margin: 0;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
    padding-top: 15px;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
    margin: 0;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul > li > ul > li > ul > li p {
    margin: 20px 0 15px 20px;
  }
  .menu .show-on-mobile {
    display: block;
    padding: 0;
  }
  .megamenu {
    padding: 0;
  }
  .megamenu .last {
    margin-bottom: 10px;
  }
  .megamenu .mobile_cart {
    display: block;
    border-top: 1px solid #dcdcdc;
  }
  .megamenu .mobile_cart img {
    width: 15px;
    margin-right: 10px;
    margin-bottom: 4px;
  }
  .carousel-caption {
    top: 10%;
  }
  .social .searching p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .slider .carousel-inner .carousel-item {
    height: 550px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption {
    top: 5%;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h2 {
    font-size: 30px;
    margin: 5px 0;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 23px;
    margin: 5px 0;
  }
  .utp .return {
    border-right: none;
  }
  .item_card .description_text p {
    padding-right: 0;
  }
  .item_card .mobile_image_slider .carousel-inner .carousel-item {
    height: auto;
  }
  .cart .cart_description,
  .selected .cart_description {
    display: none;
  }
  .cart .cart_description_mobile,
  .selected .cart_description_mobile {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
  }
  .cart .cart_description_mobile .hrt,
  .selected .cart_description_mobile .hrt,
  .cart .cart_description_mobile .trash,
  .selected .cart_description_mobile .trash {
    font-size: 14px;
  }
  .cart .cart_description_mobile a:hover,
  .selected .cart_description_mobile a:hover {
    color: #df1e30;
  }
  .cart .cart_description_mobile img,
  .selected .cart_description_mobile img {
    width: 100%;
  }
  .cart .cart_description_mobile .item_in_cart,
  .selected .cart_description_mobile .item_in_cart {
    margin-bottom: 25px;
  }
  .cart .cart_description_mobile .item_in_cart .input-group,
  .selected .cart_description_mobile .item_in_cart .input-group {
    width: 40%;
    margin-top: 15px;
  }
  .cart .cart_description_mobile .item_in_cart .input-group .input-group-btn-vertical,
  .selected .cart_description_mobile .item_in_cart .input-group .input-group-btn-vertical {
    width: 15px;
  }
  .banner .left_banner h2,
  .banner .right_banner h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .banner .left_banner .slogan_under,
  .banner .right_banner .slogan_under {
    font-size: 18px;
    line-height: 25px;
  }
  .banner .left_banner .slogan_text,
  .banner .right_banner .slogan_text {
    display: none;
  }
  .prod_slider_content {
    display: none;
  }
  .new_items_mobile,
  .hits_items_mobile {
    display: flex;
    margin-bottom: 25px;
  }
  .new_items_mobile h4,
  .hits_items_mobile h4 {
    font-size: 15px;
  }
  .new_items_mobile .items_mobile_card,
  .hits_items_mobile .items_mobile_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .wrapper .filter_wrapper .filter_title h3 {
    display: block;
  }
  .wrapper .filter_wrapper .filter_title .collapse:not(.show) {
    display: none;
  }
  .wrapper .filter_wrapper .show_more_top {
    margin-bottom: 35px;
  }
  .wrapper .titles_top {
    height: 100%;
  }
  .wrapper .titles_top .sort {
    padding: 15px 0;
  }
  .wrapper .titles_top .col-7,
  .wrapper .titles_top .col-5 {
    padding: 0 5px 0 5px;
  }
  .wrapper .titles_top .col-5 {
    top: 22%;
  }
  .wrapper .titles_top .category_title {
    font-size: 21px;
  }
  .wrapper .titles_top .filters {
    font-size: 10px;
  }
  .item_card .item_images,
  .item_card .item_image {
    display: none;
  }
  .item_card .mobile_image_slider {
    display: block;
  }
  .size_table {
    margin-top: 25px;
  }
  .brands .brands_images {
    display: none;
  }
  .brands .brands_images_mobile {
    display: block;
  }
  .brands .brands_images_mobile .carousel-indicators {
    bottom: 0;
    top: 110%;
  }
  .brands .brands_images_mobile .carousel-item {
    height: auto;
  }
  .brands .brands_images_mobile .carousel-item img {
    height: auto;
    width: auto;
  }
  .checkout_form .checkout_login .vrt_divider {
    display: none;
  }
  .checkout_form .checkout_login .enter {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 575px) {
  .carousel .thumb-content,
  .wrapper .thumb-content,
  .new_items_mobile .thumb-content,
  .hits_items_mobile .thumb-content {
    padding: 5%;
  }
  .item_card .tablecell {
    display: none;
  }
  .item_card .size_table_link {
    display: block;
  }
  .item_card .by_it .col-sm-12 .one_click {
    margin-top: 25px;
  }
  .slider .carousel-inner .carousel-item {
    height: 300px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h3 {
    margin-bottom: 25px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption p {
    display: none;
  }
  .wrapper .category_items {
    margin: 0;
  }
  .wrapper .category_items .thumb-wrapper .thumb-content .add_to_cart {
    margin-bottom: 10px;
  }
  .wrapper .category_items .thumb-wrapper .thumb-content .add_to_cart .eml {
    display: none;
  }
  .media_content .voucher_and_video .voucher {
    border-right: none;
  }
  .social .sociality .social_text h2,
  .social .searching .social_text h2 {
    font-size: 21px;
  }
  .social .sociality .social_text p,
  .social .searching .social_text p {
    display: none;
  }
  .social .sociality .social_icons img,
  .social .searching .social_icons img {
    width: 15%;
  }
  .social .sociality form,
  .social .searching form {
    margin: 30px 0;
  }
  .social .sociality form input,
  .social .searching form input {
    font-size: 10px;
  }
}
@media only screen and (max-width: 491px) {
  .utp .checked {
    border-right: none;
  }
}
@media only screen and (max-width: 475px) {
  .slider .carousel-inner .carousel-item .carousel-caption h2 {
    font-size: 17px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 16px;
  }
  .social .searching form input {
    font-size: 8px;
  }
  .social .searching form a {
    font-size: 10px;
    margin-top: -31px;
  }
}
@media only screen and (max-width: 411px) {
  .menu-mobile {
    padding: 20px;
  }
  .searchcollapse .form-control {
    width: 55%;
  }
}
@media only screen and (max-width: 375px) {
  .prod_slider h1,
  .bestsellers h1,
  .brands h1 {
    font-size: 21px;
  }
  .menu-mobile {
    padding: 20px;
  }
  .slider .carousel-indicators li {
    top: 30px;
  }
  .slider .carousel-inner .carousel-item {
    height: 170px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h2 {
    margin: 0;
  }
  .slider .carousel-inner .carousel-item .carousel-caption h3 {
    margin: 0 0 10px 0;
  }
  .slider .carousel-inner .carousel-item .carousel-caption .more_info {
    font-size: 16px;
    padding: 5px;
  }
  .cart .cart_description_mobile .item_in_cart,
  .selected .cart_description_mobile .item_in_cart {
    font-size: 10px;
  }
  .hits_items_mobile .img-box,
  .new_items_mobile .img-box {
    height: 160px;
  }
  .hits_items_mobile .thumb-content .btn,
  .new_items_mobile .thumb-content .btn {
    padding: 7px 6px;
  }
  .hits_items_mobile .thumb-content .eml,
  .new_items_mobile .thumb-content .eml {
    display: none;
  }
}
